.section3 {
margin-bottom: 40px;
font-family: Arial;
min-height: 100dvh;
}

.section3 .container {
background-color: green;
color: white;
}

.section3 .headings {
padding: 10px 20px 30px 20px;
}

.section3 .headings h1 {
margin-bottom: 10px;
}

.section3 .headings h2 {
font-weight: normal;
}

.section3 .container2 {
background-color: white;
border-left: 5px solid green;
border-bottom: 2px solid green;
color: black;
}

.section3 .container2 h3 {
color: green;
}

.section3 .inner-container {
display: flex;
flex-direction: row-reverse;
}

.section3 .inner-container .column1 {
width: 75%;
padding: 10px;
}
.section3 .inner-container .column2 {
width: 25%;
padding: 10px;
display: flex;
flex-direction: column;
gap: 10px;
}

.section3 .column2 a {
text-decoration: none;
padding: 10px 20px;
border-radius: 50px;
background-color: green;
color: white;
text-align: center;
font-size: 14px;
}

.section3 .column2 a.active {
text-decoration: none;
padding: 10px 20px;
border-radius: 50px;
background-color: white;
color: green;
border: 2px solid green;
font-weight: bold;
text-align: center;
font-size: 14px;
}

.section3 .column1 h3, .column1 p {
margin-bottom: 20px;
}

.section3 .column1 a {
text-decoration: none;
color: green;
}

.section3 .sidebar {
background-color: rgba(0,255,0, 0.1);
padding: 20px 10px;
color: green;
}

.section3 .sidebar h4 {
margin-bottom: 20px;
}