.section1 {
margin-bottom: 40px;
min-height: 100dvh;
}

.section2 {
margin-bottom: 40px;
font-family: Arial;
min-height: 100dvh;
}

.section2 .container {
background-color: brown;
color: white;
}

.section2 .headings {
padding: 10px 20px 30px 20px;
}

.section2 .headings h1 {
margin-bottom: 10px;
}

.section2 .headings h2 {
font-weight: normal;
}

.section2 .container2 {
background-color: white;
border-left: 5px solid brown;
border-bottom: 2px solid brown;
color: black;
}

.section2 .container2 h3 {
color: brown;
}

.section2 .inner-container {
display: flex;
}

.section2 .inner-container .column1 {
width: 75%;
padding: 10px;
}
.section2 .inner-container .column2 {
width: 25%;
padding: 10px;
display: flex;
flex-direction: column;
gap: 10px;
}

.section2 .column2 a {
text-decoration: none;
padding: 10px 20px;
border-radius: 50px;
background-color: brown;
color: white;
text-align: center;
font-size: 14px;
}

.section2 .column2 a.active {
text-decoration: none;
padding: 10px 20px;
border-radius: 50px;
background-color: white;
color: brown;
border: 2px solid brown;
font-weight: bold;
text-align: center;
font-size: 14px;
}

.section2 .column1 h3, .column1 p {
margin-bottom: 20px;
}

.section2 .column1 a {
text-decoration: none;
color: brown;
}

.section2 .sidebar {
background-color: rgba(255, 0,0, 0.1);
padding: 20px 10px;
color: brown;
}

.section2 .sidebar h4 {
margin-bottom: 20px;
}